<tr data-id="{{dispositivo.id}}">
    <th scope="row">{{dispositivo.id}}</th>
    <td>{{dispositivo.name}}</td>
    <td>{{dispositivo.secret}}</td>
    <td class="text-center">{{dispositivo.tipo.nome}}</td>
    <td class="text-center">
        {{#each dispositivo.ambientes}}
            <span>{{nome}}</span>
        {{/each}}
    </td>

    <td class="text-center">
        <span class="label label-status-{{dispositivo.status}}">{{dispositivo.status}}</span>
    </td>

    <td class="text-center">
        <button class="btn btn-default btn-xs status">
            <i class="fa fa-info-circle"></i> Info
        </button>
    </td>

    <td class="text-center">
        <button class="btn btn-default btn-xs edit">
            <i class="fa fa-pencil-square-o"></i> {{lang 'general.edit'}}
        </button>

        <button class="btn btn-danger btn-xs remove">
            <i class="fa fa-remove"></i> {{lang 'general.remove'}}
        </button>
    </td>
</tr>